.card-container {
  display: inline-block;
  border-radius: 15px;
  width: 255px;
  height: 345px;
  display: flex;
  box-shadow: 10px 10px 20px #212529;
}

.card-container:hover {
  cursor: pointer;
  background: #ecebf3 !important;
}

.card-container h5 {
  color: white;
  font-weight: 400;
  text-align: center;
}

.card-img {
  width: 240px;
  height: 330px;
  align-self: center;
  margin-left: 7.5px;
  border-radius: 8px;
}

h5 span {
  font-weight: 400;
}

.modal-title {
  color: white;
  align-self: center;
}

.close {
  border: 1px solid black;
  border-radius: 4px;
}

.close:hover {
  background-color: #b23a48;
}

.modal-body {
  background: linear-gradient(
    70deg,
    rgba(103, 85, 115, 1),
    rgba(52, 31, 67, 1)
  );
  color: white;
  height: auto;
  border: none;
}

.nav {
  justify-content: center;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.nav-link:hover {
  color: #b23a48;
  text-decoration: underline;
}

.nav-selected {
  text-decoration: underline;
  color: white !important;
}

@media only screen and (max-width: 767px) {
  .card-container {
    margin: auto;
  }
}
