.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}

.slidefromright-enter {
  transform: translateX(400%);
}

.slidefromright-enter-active {
  transform: translateX(0);
  transition: transform 1.2s ease;
}

.slidefromright-exit {
  transform: translateX(0);
}

.slidefromright-exit-active {
  transform: translateX(400%);
  transition: 1.2s ease;
}

.slidefrombottom-enter {
  transform: translateY(400%);
}

.slidefrombottom-enter-active {
  transform: translateY(0);
  transition: transform 1.2s ease;
}

.slidefrombottom-exit {
  transform: translateY(0);
}

.slidefrombottom-exit-active {
  transform: translateY(400%);
  transition: 1.2s ease;
}
