#searchBox {
  width: 500px;
}

#searchBy {
  width: 100px;
}

#supertype {
  width: 100px;
}

#pokemonType {
  width: 100px;
}

#searchButton {
  margin-left: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.placeholder {
  display: inline-block;
  border-radius: 15px;
  width: 255px;
  height: 345px;
  box-shadow: 10px 10px 20px #212529;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

label {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  #searchBox{
    width: 55%;
  }
  label {
    font-size: 14px;
  }

  #searchBy {
    font-size: 14px;
    height: 30px;
  }
  #supertype {
    font-size: 14px;
    height: 30px;
  }
  #pokemonType {
    font-size: 14px;
    height: 30px;
  }

  .form-container {
    display: block;
  }
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
