html {
  background: linear-gradient(70deg, rgba(103, 85, 115, 1), rgba(52, 31, 67, 1))
    no-repeat center center fixed;
  min-height: 100%;
  min-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#searchBox {
  width: 500px;
}

#searchBy {
  width: 100px;
}

#supertype {
  width: 100px;
}

#pokemonType {
  width: 100px;
}

#searchButton {
  margin-left: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.info-container {
  color: white;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
}

img {
  margin: 0;
  width: 196px;
  height: 273.6px;
}

h1 {
  margin-left: 20px;
  font-weight: 400;
}

h5 {
  margin-left: 15px;
  margin-top: 20px;
  font-weight: 300;
}

label {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  img {
    width: 156.8px;
    height: 218.88px;
  }

  label {
    font-size: 14px;
  }

  #searchBy {
    font-size: 14px;
    height: 30px;
  }
  #supertype {
    font-size: 14px;
    height: 30px;
  }
  #pokemonType {
    font-size: 14px;
    height: 30px;
  }

  .form-container {
    display: block;
  }
}
